html,body {
    background-color: black;
}

.wd-image {
    border-radius: 35px;
    width: 50px;
    height: 50px;
}

.wd-text{
    font-weight: bold;
}

.wd-card-image {
    position: relative;
}

.wd-middle-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.wd-card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: xx-large;
    font-weight: bold;
}
.card.wd-override-card {
    border: none;
    border-radius: 0 !important;
    border-top: 2px solid rgb(47,51,54);
    border-bottom: 2px solid rgb(47,51,54);
}

.wd-subtext {
    color: gray;
}

.wd-middle-frame {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.list-group-item.wd-override-list {
    background-color: black;
}

.wd-left-text {
    color: rgb(209,212,214);
}

.wd-right-text {
    color: rgb(228,230,231);
    font-weight: bold;
}

.wd-right-text-handle {
    color: rgb(102,107,111);
}

.wd-left-text-unselected-icon {
    --fa-inverse: rgb(184,184,184);
}

.wd-left-text-unselected-text {
    color: rgb(184,184,184);
}

.wd-left-text-selected-text {
    color: white;
    font-weight: bold;
}

.btn-primary.wd-override-button-tuit {
    background-color: rgb(61,144,233);
    border-radius: 30px;
}

.btn-primary.wd-override-button {
    background-color: rgb(237,241,242);
    color: rgb(17,20,24);
    font-weight: bold;
    border-radius: 20px;
}

.wd-override-search-icon {
    --fa-inverse: rgb(102,107,111);
}

.form-control.wd-override-input {
    background-color: rgb(30,32,35);
    border-radius: 20px;
    border: none;
}

.input-group-text.wd-override-mirror {
    background-color: rgb(30,32,35);
    border: none;
    border-radius: 20px;
}

.fas.fa-check-circle {
    --fa-inverse: rgb(209,212,214);
}

.border {
    border-color: rgb(47,51,54) !important;
}

.list-group.border {
    border: none !important;
    border-radius: 20px;
}

.wd-selected-tab {
    border: none;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(29,161,242);
}

.nav-tabs .nav-link.active{
    font-weight: bold;
    background: transparent !important;
    color: white !important;
    padding-bottom: 0;
    border: none;
    border-radius: 0px !important;
}

.nav-tabs .nav-link {
    font-size: smaller;
}

.nav-tabs .nav-link {
    color: rgb(110, 118, 125);
}

.nav-tabs .nav-item {
    padding-bottom: 0;
}