html,body {
    background-color: black;
}

.wd-avatar-image {
    border-radius: 35px;
    width: 50px;
    height: 50px;
}

.wd-override-text-bold{
    font-weight: bold;
}

.wd-card-image {
    position: relative;
    border-radius: 0 !important;
    border: none !important;
}

.wd-post-summary-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.wd-card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(34, 34, 34);
}
.wd-override-card-image {
    border: none !important;
    border-radius: 0 !important;
}

.wd-post-summary-frame {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wd-override-text-color-white {
    color: rgb(255,255,255);
}

.wd-override-text-color-gray {
    color: rgb(102,107,111);
}

.wd-override-search-icon {
    --fa-inverse: rgb(190,190,190);
}

.wd-override-cog-icon {
    --fa-inverse: rgb(42,159,214);
}

.form-control.wd-override-input {
    background-color: rgb(255,255,255);
    border-radius: 0 20px 20px 0 !important;
    border: none;
    padding-left: 0 !important;
}

.input-group-text.wd-override-input-search {
    background-color: rgb(255,255,255);
    border: none;
    border-radius: 20px;
}

.fas.fa-check-circle {
    --fa-inverse: rgb(209,212,214);
}

.border {
    border-color: rgb(47,51,54) !important;
}

.list-group.border {
    border: none !important;
    border-radius: 20px;
}