.wd-input-search {
    margin-left: 16px;
    margin-top: 7px;
    margin-bottom: 18px;
    background-color: darkgray;
    border-radius: 15px;
    border: none;
    color: white;
    height: 28px;
    width: 460px;
    padding-left: 20px;
}

.wd-gear-icon {
    margin-right: 12px;
    margin-top: 4px;
    float: right;
    font-size: 30px;
    text-decoration:none;
    color: rgb(29,161,242);
}

.wd-tab-selected {
    margin-left: 16px;
    padding: 16px;
    color: rgb(29,161,242);
    border-bottom: 2px solid rgb(29,161,242);
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: bold;
    text-decoration:none;
}

.wd-regular-tab {
    padding: 16px;
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-family: Arial, serif;
    font-weight: bold;
    text-decoration:none;
}

.wd-frame {
    height: 88px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    padding-bottom: 2px;
    border-bottom-width: 4px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
}

.wd-divider {
    margin-top: -17px;
    margin-bottom: 0;
    height: 5px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    background-color: #282c34;
}

.wd-trending-content-frame {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
}

.wd-specific-content-frame {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    height: 118px;
}

.wd-specific-content-frame-left {
    padding-top: 16px;
    width: 80%;
    float: left;
}

.wd-specific-content-frame-right {
    float: right;
}

.wd-trending-topic {
    margin-left: 16px;
    color: rgb(110,118,125);
    font-size: 13px;
    font-family: Arial, serif;
    display: inline-block;
    padding-bottom: 6px;
}

.wd-specific-topic {
    margin-left: 16px;
    color: lightgray;
    font-size: 13px;
    font-family: Arial, serif;
}

.wd-topic-time-posted {
    color: rgb(110,118,125);
    font-size: 13px;
    font-family: Arial, serif;
}

.wd-author {
    margin-left: 16px;
    color: white;
    font-size: 13px;
    font-family: Arial, serif;
    font-weight: bold;
}

.wd-trending-title {
    margin-left: 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, serif;
    display: inline-block;
    padding-bottom: 10px;
}
.wd-specific-title {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, serif;
}

.wd-tuits-number {
    margin-left: 16px;
    color: rgb(110,118,125);
    font-size: 13px;
    font-family: Arial, serif;
}

.wd-three-dot {
    margin-right: 16px;
    float: right;
    font-size: 20px;
    color: rgb(110,118,125);
}

.wd-specific-content-pic {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 9px;
    margin-right: 16px;
}