.wd-bookmarks-heading-frame {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47,51,54);
    height: 50px;
    width: 598px;
}

.wd-bookmarks-heading-frame-left {
    float: left;
}

.wd-bookmarks-heading-frame-right {
    float: right;
}

.wd-bookmarks-heading-title {
    margin-top: 12px;
    margin-bottom: 0;
    padding-left: 16px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, serif;
    color: white;
}

.wd-bookmarks-heading-handle {
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 16px;
    font-size: 13px;
    font-family: Arial, serif;
    color: lightgray;
}

.wd-bookmarks-heading-dot {
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}

.wd-bookmarks-post-heading-frame {
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47,51,54);
    border-bottom-width: 0;
    border-top-width: 0;
    height: 110px;
    width: 598px;
    position: relative;
}

.wd-bookmarks-post-heading-avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 12px;
    left: 16px;
}

.wd-bookmarks-post-heading-frame-right {
    position: absolute;
    top: 12px;
    left: 76px;
    right: 0;
}

.wd-bookmarks-post-heading-name {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, serif;
    color: white;
}

.wd-bookmarks-post-heading-handle {
    font-size: 15px;
    font-family: Arial, serif;
    color: lightgray;
}

.wd-bookmarks-post-heading-content {
    margin-top: 12px;
    margin-right: 16px;
    margin-bottom: 0;
    font-size: 15px;
    font-family: Arial, serif;
    color: white;
    width: 506px;
}

.wd-bookmarks-post-heading-dot {
    padding-right: 10px;
    font-size: 15px;
    color: lightgray;
    position: absolute;
    right: 0;
}

.wd-bookmarks-post-body-frame {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
    border-style: solid;
    border-color: rgb(47,51,54);
    border-width: 1px;
    border-top-width: 0;
    width: 598px;
    position: relative;
}

.wd-bookmarks-post-body-image {
    margin-top: 12px;
    margin-left: 76px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-color: rgb(47,51,54);
    border-style: solid;
    border-width: 1px;
    width: 504px;
    height: 264px;
}

.wd-bookmarks-post-body-content-frame {
    margin-left: 76px;
    margin-top: -5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgb(47,51,54);
    border-style: solid;
    border-width: 1px;
    width: 504px;
}

.wd-bookmarks-post-body-content-title {
    margin: 0;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, serif;
}

.wd-bookmarks-post-body-content-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    color: rgb(47,51,54);
    font-size: 15px;
    font-family: Arial, serif;
}

.wd-bookmarks-post-bottom {
    margin-left: 76px;
    position: relative;
    margin-top: 12px;
    width: 504px;
}

.wd-bookmarks-post-bottom-comment {
    position: absolute;
    float: left;
    left: 0px;
}
.wd-bookmarks-post-bottom-retuit {
    position: absolute;
    float: left;
    left: 126px;
}

.wd-bookmarks-post-bottom-heart {
    position: absolute;
    float: left;
    left: 252px;
}

.wd-bookmarks-post-bottom-share {
    position: absolute;
    float: left;
    left: 378px;
}

.wd-bookmarks-bottom-icon {
    margin-right: 12px;
    color:rgb(47,51,54);
}

.wd-bookmarks-bottom-icon-red {
    margin-right: 12px;
    color:red;
}

.wd-bookmarks-icon-number {
    color:rgb(47,51,54);
    text-decoration: none;
    font-family: Arial, serif;
}

.wd-bookmarks-icon-number-red {
    color:red;
    text-decoration: none;
    font-family: Arial, serif;
}

.wd-bookmarks-post-bottom-hyper-link {
    text-decoration: none;
}
